# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vs
*.db
*.opendb
*.ipch
*.tlog

x64/
Release/
FrameWork_Persnal/x64/Debug/Tool.exe
FrameWork_Persnal/x64/Debug/Tool.ilk
FrameWork_Persnal/x64/Debug/Tool.pdb
FrameWork_Persnal/x64/
FrameWork_Persnal/ipch/
FrameWork_Persnal/Client/Default/Debug/
FrameWork_Persnal/Client/Default/x64/
FrameWork_Persnal/Engine/default/Debug/
FrameWork_Persnal/Engine/default/x64/

*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.nupkg
.vs/
